
.main{
   margin: 30px;
    background-color: white;
}
body{
    background-color: #EEEEEE;
}
.btn-publish{
    float: right;
    margin-bottom: 15px;
}
.media-object{
    height: 38px;
    width: 38px;
}
.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #D3D6DB;
}